body{
	font-family: 'Roboto Condensed', sans-serif;
}
#displayTask div .alert{
	position: relative;
	padding-bottom: 30px;
}
.color_group{
    display: block;
    position: absolute;
    left: 0%;
    bottom: -1px;
    width: 100%;
    height: 25px;
    overflow: hidden;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: left;
    margin: 0;
    padding: 0;
    background: rgba(139, 0, 0, 0.56);

}

.color_group .color_item{
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 3px;
    cursor: pointer;
    color: #000;
    text-shadow: 0px 0px 2px #fff;
    text-align: center;
    line-height: 16px;

}
.color_group .color_item:last-child{
    float: right;
    margin-top: 3px;
    margin-right: 5px;
    background: orange;
}
.color_group .color_item .glyphicon{
    font-size: 8px;
    display: block;
    line-height: 14px;
}
.edit_task_area{
    resize: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 0px 1px #ddd;
    margin: 0;
    z-index: 999999;

}